body, h1, h2, h3, h4, h5, h6, ol, ul {
    margin: 0;
    padding: 0
}

.tab_style_1 ul.tabs_menu li, .tab_style_2 ul.tabs_menu li {
    float: left;
    border-top: 1px solid #0482f8;
    border-bottom: 1px solid #0482f8;
    border-left: 1px solid #0482f8;
    transition: all .4s linear
}

.tab_style_1 ul.tabs_menu li:first-child, .tab_style_2 ul.tabs_menu li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.tab_style_1 ul.tabs_menu li:last-child, .tab_style_2 ul.tabs_menu li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #0482f8
}

.tab_style_1 ul.tabs_menu li.active, .tab_style_2 ul.tabs_menu li.active {
    background: #0482f8
}

.breaker, .tab_style_1 ul.tabs_menu, .tab_style_2 ul.tabs_menu, section, ul.tabs_menu {
    overflow: hidden
}

body {
    font-family: Poppins, sans-serif;
    line-height: 26px
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 90px
}

.col-6, .container {
    padding-right: 15px;
    padding-left: 15px
}

li {
    list-style: none
}

a, a:hover {
    text-decoration: none
}

h4 {
    font-size: 20px;
    font-weight: 500
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-6 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left
}

.tab_style_1 ul.tabs_menu li a {
    line-height: 45px;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    transition: all .4s linear
}

.tab_style_1 ul.tabs_menu li.active a {
    color: #fff
}

a, p {
    color: #777
}

.tab_style_1 .tab {
    margin-top: 35px
}

ul.tabs_menu {
    display: block;
    position: relative
}

.tab_style_2 ul.tabs_menu li a {
    text-align: center;
    display: block;
    font-size: 12px;
    transition: all .4s linear;
    padding: 15px
}

.tab_style_2 ul.tabs_menu li a i {
    display: block;
    font-size: 36px;
    padding-bottom: 10px
}

.tab_style_2 .tab {
    margin-top: 30px
}

.tab_style_2 ul.tabs_menu li.active a {
    color: #fff
}

.breaker {
    text-align: center;
    background: #eee;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.breaker1 {
    margin-top: 50px;
    margin-bottom: 50px
}

.breaker2 {
    background: #fff;
    margin-bottom: 70px;
    padding-bottom: 70px;
    text-align: center
}

.breaker3 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px
}

.breaker2 h3 {
    line-height: 30px
}

@media only screen and (min-width: 481px) and (max-width: 950px) {
    .col-6 {
        width: 100%
    }

    h3 {
        font-size: 18px;
        line-height: 28px
    }

    .single_tab {
        margin-bottom: 30px;
        overflow: hidden
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .tabs_menu li {
        float: none;
        margin-bottom: 10px
    }

    h3 {
        font-size: 18px;
        line-height: 28px
    }

    .tab_style_1 ul.tabs_menu li {
        border: 1px solid #0482f8;
        border-radius: 5px
    }

    .col-6 {
        width: 100%
    }

    .tab_style_2 ul.tabs_menu li a i {
        font-size: 36px;
        padding-bottom: 3px
    }

    .tab_style_2 ul.tabs_menu li a {
        font-size: 10px;
        padding: 10px
    }

    .single_tab {
        margin-bottom: 30px;
        overflow: hidden
    }
}