/*	--------------------------------------------------
	:: Hover Effects Widget Push Up
	-------------------------------------------------- */
	
	.hover-effects-widget-push-up .hover-effects-widget-media-holder:hover img {
		-webkit-transform:translateY(-100%);
		   -moz-transform:translateY(-100%);
				transform:translateY(-100%);
	}
	
	.hover-effects-widget-push-up .hover-effects-widget-media-holder .hover-effects-widget-caption {
		opacity:0;
		-webkit-transform:translateY(100%);
		   -moz-transform:translateY(100%);
				transform:translateY(100%);
	}
	
	.hover-effects-widget-push-up .hover-effects-widget-media-holder:hover .hover-effects-widget-caption {
		opacity:1;
		-webkit-transform:translateY(0);
		   -moz-transform:translateY(0);
				transform:translateY(0);
	}
	
/*	--------------------------------------------------
	:: Hover Effects Widget Push Down
	-------------------------------------------------- */
	
	.hover-effects-widget-push-down .hover-effects-widget-media-holder:hover img {
		-webkit-transform:translateY(100%);
		   -moz-transform:translateY(100%);
				transform:translateY(100%);
	}
	
	.hover-effects-widget-push-down .hover-effects-widget-media-holder .hover-effects-widget-caption {
		opacity:0;
		-webkit-transform:translateY(-100%);
		   -moz-transform:translateY(-100%);
				transform:translateY(-100%);
	}
	
	.hover-effects-widget-push-down .hover-effects-widget-media-holder:hover .hover-effects-widget-caption {
		opacity:1;
		-webkit-transform:translateY(0);
		   -moz-transform:translateY(0);
				transform:translateY(0);
	}
	
/*	--------------------------------------------------
	:: Hover Effects Widget Push Left
	-------------------------------------------------- */
	
	.hover-effects-widget-push-left .hover-effects-widget-media-holder:hover img {
		-webkit-transform:translateX(-100%);
		   -moz-transform:translateX(-100%);
				transform:translateX(-100%);
	}
	
	.hover-effects-widget-push-left .hover-effects-widget-media-holder .hover-effects-widget-caption {
		opacity:0;
		-webkit-transform:translateX(100%);
		   -moz-transform:translateX(100%);
				transform:translateX(100%);
	}
	
	.hover-effects-widget-push-left .hover-effects-widget-media-holder:hover .hover-effects-widget-caption {
		opacity:1;
		-webkit-transform:translateX(0);
		   -moz-transform:translateX(0);
				transform:translateX(0);
	}
	
/*	--------------------------------------------------
	:: Hover Effects Widget Push Right
	-------------------------------------------------- */
	
	.hover-effects-widget-push-right .hover-effects-widget-media-holder:hover img {
		-webkit-transform:translateX(100%);
		   -moz-transform:translateX(100%);
				transform:translateX(100%);
	}
	
	.hover-effects-widget-push-right .hover-effects-widget-media-holder .hover-effects-widget-caption {
		opacity:0;
		-webkit-transform:translateX(-100%);
		   -moz-transform:translateX(-100%);
				transform:translateX(-100%);
	}
	
	.hover-effects-widget-push-right .hover-effects-widget-media-holder:hover .hover-effects-widget-caption {
		opacity:1;
		-webkit-transform:translateX(0);
		   -moz-transform:translateX(0);
				transform:translateX(0);
	}
	