/* Smartphones (portrait and landscape) --  --  --  --  -- - */

@media screen and (min-width: 304px) and (max-width: 667px) {

    #mm_nav .menu-strip-bottom-right {
        background: #333 none repeat scroll 0 0;
        bottom: 15%;
        height: auto;
        position: fixed;
        right: 0;
        width: 100%;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        border: 4px double #1E3E5C;
        border-right: transparent;
        z-index: 9999;
		display:none;
    }

    /* List Style */
    
    #mm_nav ul.list-unstyled {
        padding: 7px 0px;
        list-style: none;
    }
    #mm_nav ul {
        margin: 0px;
    }
    #mm_nav ul li {
        padding: 3px;
        text-align: center;
    }
    /* List Hyper Link */
    
    #mm_nav ul li a {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
    /* List Link Hover */

    #mm_nav ul.list-unstyled li a:hover {
        border: 4px double #1E3E5C;
        padding: 3px;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: #0D738C;
    }
    /* List Inline */

    #mm_nav ul.list-inline {
        list-style: none;
        padding: 12px;
        text-align: center;
        margin: 0px;
    }
    #mm_nav ul.list-inline>li {
        display: inline-block;
        padding: 0px 15px;
    }
    /* List Link Hover */
    
    #mm_nav ul.list-inline li a:hover {
        border: 4px double #1E3E5C;
        padding: 0px;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: #0D738C;
    }
				  /* Three Line Menu Left */
    

	    #mm_nav #hamburger-menu-right {
        background: #273444;
        width: 50px;
        height: 50px;
        right: 0%;
        top: 0%;
        position: fixed;
        text-align: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }
	    /* Ico Icon */
    
    #mm_nav .fa.fa-search,
    #mm_nav .fa.fa-times,
    #mm_nav .fa.fa-bars {
        font-size: 30px;
        color: #fff;
        padding: 9px;
    }

    #mm_nav #hamburger-menu-right .fa.fa-bars,
    #mm_nav #hamburger-menu-right .fa.fa-times {
        font-size: 30px;
        color: #fff;
        padding: 9px;
    }
}
/* Smartphones (landscape) --  --  --  --  -- - */

@media screen and (min-width: 321px) {
    /* Styles */
}
/* Smartphones (portrait) --  --  --  --  -- - */

@media screen and (max-width: 320px) {
    /* Styles */
}
/* iPads (portrait and landscape) --  --  --  --  -- - */

@media screen and (min-width: 668px) and (max-width: 1223px) {
    /* Styles */

    /* Menu Bottom Right Side */
    
    #mm_nav .menu-strip-bottom-right {
        background: #333 none repeat scroll 0 0;
        bottom: 15%;
        height: auto;
        position: fixed;
        right: 0;
        width: 100%;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        border: 4px double #1E3E5C;
        border-right: transparent;
        z-index: 9999;
		display:none;
    }

    /* List Style */
    
    #mm_nav ul.list-unstyled {
        padding: 18px 0px;
        list-style: none;
    }
    #mm_nav ul {
        margin: 0px;
    }
    #mm_nav ul li {
        padding: 8px 25px;
        text-align: center;
    }
    /* List Hyper Link */
    
    #mm_nav ul li a {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        font-size: 20px;
    }
    /* List Link Hover */
    
    #mm_nav ul.list-unstyled li a:hover {
        border: 1px solid #fff;
        padding: 10px;
        border-left: transparent;
        border-right: transparent;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: #000000;
    }
    /* List Inline */
    
    #mm_nav ul.list-inline {
        list-style: none;
        padding: 12px;
        text-align: center;
        margin: 0px;
    }
    #mm_nav ul.list-inline>li {
        display: inline-block;
        padding: 0px 15px;
    }
    /* List Link Hover */
    
    #mm_nav ul.list-inline li a:hover {
        border: 4px double #D4AF37;
        padding: 0px;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: #0D738C;
    }
				  /* Three Line Menu Left */
    
   	    #mm_nav #hamburger-menu-right {
        background: #273444;
        width: 50px;
        height: 50px;
        right: 0%;
        top: 0%;
        position: fixed;
        text-align: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }
	    /* Ico Icon */
    
    #mm_nav .fa.fa-search,
    #mm_nav .fa.fa-times,
    #mm_nav .fa.fa-bars {
        font-size: 30px;
        color: #fff;
        padding: 9px;
    }

    #mm_nav #hamburger-menu-right .fa.fa-bars,
    #mm_nav #hamburger-menu-right .fa.fa-times {
        font-size: 30px;
        color: #fff;
        padding: 9px;
    }
}
/* iPads (landscape) --  --  --  --  -- - */

@media screen and (min-width: 668px) and (max-width: 1223px) and (orientation: landscape) {
    /* Styles */
}
/* iPads (portrait) --  --  --  --  -- - */

@media screen and (min-width: 668px) and (max-width: 1223px) and (orientation: portrait) {
    /* Styles */
}
/* Desktops and laptops --  --  --  --  -- - */

@media screen and (min-width: 1224px) {
    /* Styles */

    /* Menu Bottom Right Side */
    
    #mm_nav .menu-strip-bottom-right {
        background: #333;
        width: 100%;
        height: auto;
        right: 0%;
        position: fixed;
        bottom: 0%;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        border: 4px double #1E3E5C;
        border-right: transparent;
		border-bottom:transparent;
        z-index: 9999;
		overflow-x:auto;
		display:none;
    }

    /* List Style */
    
    #mm_nav ul.list-unstyled {
        padding: 18px 0px;
        list-style: none;
    }
    #mm_nav ul {
        margin: 0px;
    }
    #mm_nav ul li {
        padding: 30px 10px;
        text-align: center;
    }
    /* List Hyper Link */
    
    #mm_nav ul li a {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        font-size: 20px;
    }
    /* List Link Hover */
    
    #mm_nav ul.list-unstyled li a:hover {
        border: 4px double #1E3E5C;
        padding: 10px;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: #0D738C;
    }
    /* List Inline */
    
    #mm_nav ul.list-inline {
        list-style: none;
        padding: 37px;
        margin: 0px;
		text-align:center;
    }
    #mm_nav ul.list-inline>li {
        display: inline-block;
        padding: 0px 35px;
    }
    /* List Link Hover */
    
    #mm_nav ul.list-inline li a:hover {
        border: 4px double #1E3E5C;
        padding: 0px;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: #0D738C;
    }

	    #mm_nav #hamburger-menu-right {
        background: #273444;
        width: 75px;
        height: 75px;
        right: 0%;
        top: 0%;
        position: fixed;
        text-align: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }
	    /* Ico Icon */
    
    #mm_nav .fa.fa-search,
    #mm_nav .fa.fa-times,
    #mm_nav .fa.fa-bars {
        font-size: 30px;
        color: #fff;
        padding: 23px;
    }

    #mm_nav #hamburger-menu-right .fa.fa-bars,
    #mm_nav #hamburger-menu-right .fa.fa-times {
        font-size: 30px;
        color: #fff;
        padding: 23px;
    }
}
/* Large screens --  --  --  --  -- - */

@media screen and (min-width: 1824px) {
    /* Styles */
}