body,div,dl,dt,dd,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
 
body
{
	background: #000000;
	color: #ffffff;
	font-family: Verdana,sans-serif;
}

a
{
	color: grey;
	text-decoration:none;
}
h2 {
	font-size: 500%;
	font-weight: 700;
	color: #ddd;
	margin-left: 15%;
	margin-top: 10%;
	margin-bottom: 5%;
	text-shadow: 5px 5px 15px grey;
	
}
h1
{
	font-size: 100%;
	font-weight: 700;
	color: #ddd;
	margin-left: 15%;
	margin-top: 10%;
	margin-bottom: 5%;
	text-shadow: 5px 5px 15px grey;
	
}
h2:hover
{
	
	text-shadow: 5px 5px 15px silver;
}
header
{
	
}

aside
{
	width: 25%;
}

footer
{
	font-size: 100%;
	text-align: center;
	color: #ddd;
	margin-top: 5%;
	text-shadow: 2px 2px 5px grey;
}

#logo
{
	width: 40%;
	text-align: center;
	float: left;

}

#slider
{
	width: 60%;
	float: left;
}

#about
{
	padding: 10%;
	margin-right: 20%;
}

#content
{
	width: 75%;
}

#send:hover{
	color: #3e8e41;
	text-shadow: 10px 1px 55px green;
}
